/* Estilos generales para el documento */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo */
}

/* Estilos para el contenedor del héroe */
#hero {
    position: relative;
}

/* Estilos para la imagen de fondo */
.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/fondo-adm.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Estilos para el encabezado */
header {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    backdrop-filter: blur(5px); /* Aplica un efecto de desenfoque */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el logo en el encabezado */
.logo img {
    width: 60px;
    height: auto;
}

/* Estilos para la barra lateral */
.sidebar {
    position: absolute;
    top: 280%; /* Aquí puedes ajustar la posición vertical */
    left: 600px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    backdrop-filter: blur(5px); /* Aplica un efecto de desenfoque */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

/* Estilos para la imagen en la barra lateral */
.sidebar img {
    width: 80px; /* Tamaño de la imagen del usuario */
    height: 80px;
    border-radius: 50%; /* Para que la imagen sea redonda */
    margin-bottom: 20px;
}

/* Estilos para el título en la barra lateral */
.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333; /* Color del texto */
}

/* Estilos para los botones */
.btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffa500; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Estilos para el botón al pasar el mouse */
.btn:hover {
    background-color: #ff8c00; /* Color de fondo del botón al pasar el mouse */
}
