body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    color: #070707;
}

#hero {
    position: relative;
    padding: 20px;
}

header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

.logo img {
    width: 60px;
    height: auto;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: #ffbb00;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #070707;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    font-size: 16px;
}

.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    font-size: 16px;
    resize: vertical;
}

.form-group input[type="file"] {
    padding: 3px;
    border: none;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ffbb00;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #f3bf2f;
}

#notificacion {
    margin: 0 auto 20px auto;
    padding: 10px;
    border: 1px solid #4caf50;
    background-color: #dff0d8;
    color: #3c763d;
    text-align: center;
    border-radius: 4px;
    display: none;
}

.form-group input[type="file"]::file-selector-button {
    padding: 8px 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.form-group input[type="file"]::file-selector-button:hover {
    background-color: #f0f0f0;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 0px;
}

.password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}

.password-container .eye-icon:hover {
    color: #0c0c0c;
}
.btn-volver {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.btn-volver:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
